@import '~antd/dist/antd.css';

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);             
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  padding :40px;
  background: #fff;
  
}

.trigger {
  padding: 20px ;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.side-layout-children{
  height: 100vh;
}

.logo {
  height: 80px;
  margin:  2px;
  width: 80px;
 
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout{
  height: 100vh;
  .custom-head{
    display: flex;
    justify-content: space-between;
    .trigger{
      padding: 2px;
      margin: 0 0 0 14px;
    }
    .custom-tree-1{
      width: 50%;
      margin: 16px 20px;
      ertain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
        color: #666;
        font-weight: bold;
      }
      
      .certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
        border-bottom: 1px solid #f6f6f6;
      }
      
      .certain-category-search-dropdown .ant-select-dropdown-menu-item {
        padding-left: 10px;
      }
      
      .certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
        text-align: center;
        cursor: default;
      }
      
      .certain-category-search-dropdown .ant-select-dropdown-menu {
        max-height: 300px;
      }
    }
    
    .custom-icon{
      margin: 16px 22px;
      &:hover{
       
        cursor: pointer;
      }

    }
  }
}
.ml-auto{
  margin-left: auto;
}
.ml-1{
  margin-left: 0.25rem;
}
.ml-2{
  margin-left: 0.5rem;
}
.mr-1{
  margin-right: 0.25rem;
}
.mr-2{
  margin-right: 0.5rem;
}
.mt-1{
  margin-top: 0.25rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mb-1{
  margin-bottom: 0.25rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.text--danger{
  font-size: 0.7rem
}
.input--danger{
  border: 1px solid #ff4d4f;
}
.position-relative{
  position: relative;
}
.pointer{
  cursor: pointer;
}
.justify-end{
  justify-content: flex-end;
}

svg.highcharts-root {width: 100% !important;}

.highcharts-container {
  width: 100% !important;
}